<h3>Add New Doctor</h3>

<form action="/doctors" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Name of doctor:</label>
    <input class="form-control" id='name' name='name' type='text'>
    </br>
    <label class="form-label" for='speciality'>Speciality of doctor:</label>
    <input class="form-control" id='speciality' name='speciality' type='text'>
    <label class="form-label">
    <button type="submit" class="button btn">Add Doctor</button>
  </div>
</form>
